<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/commons/menu.html"></div>
<div class="container mt-4">
    <table class="table table-bordered border-dark">
        <thead>
        <tr>
            <th>CPF:</th>
            <th>Nome:</th>
            <th>Email:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="perfil : ${perfis}">
            <td th:text="${perfil.cpf}"></td>
            <td th:text="${perfil.nome}"></td>
            <td th:text="${perfil.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>