<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>
</head>
<body>
  <div th:include="/commons/menu.html"></div>

  <form action="/perfil" method="post" th:object="${perfil}">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome" th:field="*{nome}" /> <br /> <br />

    <label>E-mail: </label>
    <input type="text" name="email" th:field="*{email}" /> <br /> <br />

    <label>Senha: </label>
    <input type="text" name="senha" th:field="*{senha}"/> <br /> <br />

    <label>Telefone: </label>
    <input type="text" name="telefone" th:field="*{telefone}" /> <br /> <br />

    <label>CPF: </label>
    <input type="text" name="cpf" th:field="*{cpf}"  /> <br /> <br />

    <label>Rua: </label>
    <input type="text" name="rua" th:field="*{rua}"  /> <br /> <br />

    <label>CEP: </label>
    <input type="text" name="cep" th:field="*{cep}" /> <br /> <br />

    <label>Cidade: </label>
    <input type="text" name="cidade" th:field="*{cidade}" /> <br /> <br />

    <label>Estado: </label>
    <input type="text" name="estado" th:field="*{estado}" /> <br /> <br />

    <label>País: </label>
    <input type="text" name="pais" th:field="*{pais}" /> <br /> <br />

    <input class="btn btn-primary" type="submit" value="Enviar">
  </form>
</body>
</html>