<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
  <form action="/perfil" method="post">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome" /> <br /> <br />

    <label>E-mail: </label>
    <input type="text" name="email" /> <br /> <br />

    <label>Senha: </label>
    <input type="text" name="senha" /> <br /> <br />

    <label>Telefone: </label>
    <input type="text" name="telefone" /> <br /> <br />

    <label>CPF: </label>
    <input type="text" name="cpf" /> <br /> <br />

    <label>Rua: </label>
    <input type="text" name="rua" /> <br /> <br />

    <label>CEP: </label>
    <input type="text" name="cep" /> <br /> <br />

    <label>Cidade: </label>
    <input type="text" name="cidade" /> <br /> <br />

    <label>Estado: </label>
    <input type="text" name="estado" /> <br /> <br />

    <label>País: </label>
    <input type="text" name="pais" /> <br /> <br />

    <input type="submit" value="Enviar">
  </form>
</body>
</html>